body{
    margin: 0;
}


header{
    background-color: black;
    height: 80px;
}

.container_cartas{
    max-width: 83rem;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.carta{
    box-shadow: 0px 0px 5px 0px rgb(223, 223, 223);
    padding: 20px;
    width: 90%;
}

.foto{
    display: flex;
}

.foto img{
    margin-right: 15px;
}

.boton{
    border: none;
    background-color: #10811289;
    color: white;
    padding: 10px 20px;
    font-weight: bolder;
    cursor: pointer;
}

.boton:hover{
    background-color: #13991689;
}

